@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div class="row">
    <html>
    <head>
        <style>
            table {
                border-collapse: collapse;
                border: 1px solid black;
            }

            tr:nth-child(even) {
                background-color: #f2f2f2
            }
        </style>
    </head>
    <body>

        <div class="col-md-2">

            <h3>Leaderboard</h3>

            <h6>Month  Year   All Time</h6>

            <table>


                <tr>
                    <td>1. Example</td>
                </tr>
                <tr>
                    <td>2. Example</td>
                </tr>
                <tr>
                    <td>3. Example</td>
                </tr>
                <tr>
                    <td>4. Example</td>
                </tr>
                <tr>
                    <td>5. Example</td>
                </tr>
                <tr>
                    <td>6. Example</td>
                </tr>
                <tr>
                    <td>7. Example</td>
                </tr>
                <tr>
                    <td>8. Example</td>
                </tr>
                <tr>
                    <td>9. Example</td>
                </tr>
                <tr>
                    <td>10. Example</td>
                </tr>
            </table>

        </div>

    </body>
</html>
<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
           
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>

    <div class="col-md-8">
        <center>
            <h2>Send Recognition to...</h2>

            <input id="TxtInputName" type="text" width="300" />
        </center>
        <left>
            <p>Send Personal Message<input id="TxtPersonalMessage" type="text" width="300" /></p>
        </left>
        <center>
            <h4>Type of Recognition</h4>
            <p><a class="btn btn-default">Centric Value 1</a><a class="btn btn-default">Centric Value 2</a></p>
            <p><a class="btn btn-default">Centric Value 3</a><a class="btn btn-default">Centric Value 4</a></p>


            <h2>Newsfeed goes here</h2>
            <table>

                <tr>
                    <td>1. Example</td>
                </tr>
                <tr>
                    <td>2. Example</td>
                </tr>
                <tr>
                    <td>3. Example</td>
                </tr>
                <tr>
                    <td>4. Example</td>
                </tr>
                <tr>
                    <td>5. Example</td>
                </tr>
                <tr>
                    <td>6. Example</td>
                </tr>
                <tr>
                    <td>7. Example</td>
                </tr>
                <tr>
                    <td>8. Example</td>
                </tr>
                <tr>
                    <td>9. Example</td>
                </tr>
                <tr>
                    <td>10. Example</td>
                </tr>
                
            </table>
        </center>
    </div>

</body>
</html>

<html>
<head>
    <style>
        table {
            border-collapse: collapse;
            border: 1px solid black;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>
<body>

    <div class="col-md-2">

        <h3>History</h3>

        <h6>Sent        Recieved</h6>

        <table>


            <tr>
                <td>1. Example</td>
            </tr>
            <tr>
                <td>2. Example</td>
            </tr>
            <tr>
                <td>3. Example</td>
            </tr>
            <tr>
                <td>4. Example</td>
            </tr>
            <tr>
                <td>5. Example</td>
            </tr>
            <tr>
                <td>6. Example</td>
            </tr>
            <tr>
                <td>7. Example</td>
            </tr>
            <tr>
                <td>8. Example</td>
            </tr>
            <tr>
                <td>9. Example</td>
            </tr>
            <tr>
                <td>10. Example</td>
            </tr>
        </table>

    </div>

</body>
</html>
